@mixin inputCheckbox($block: '') {
    display: flex;
    flex-direction: column-reverse;

    &__control-container {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 1em;

        &:has(:checked) {
            &~.input-checkbox__label::before {
                background-position: calc((var(--input-checkbox-height) * 0.5) + var(--input-checkbox-space)) var(--input-checkbox-space);

            }
        }

    }

    &__control {
        opacity: 0;
        position: absolute;
        appearance: none;
        -webkit-appearance: none;

    }

    &__label {
        display: flex;
        gap: .5em;

        &::before {
            --input-checkbox-height: 1.5em;
            --input-checkbox-space: 3px;
            display: block;
            content: "";
            width: calc(var(--input-checkbox-height) * 1.5);
            height: var(--input-checkbox-height);
            border-radius: var(--input-border-radius, var(--border-radius));
            position: relative;
            cursor: pointer;
            transition: all .3s ease;
            background-image: radial-gradient(closest-side, var(--input-checkbox-dot, var(--foreground)) 100%, transparent);
            background-color: rgba(var(--primary-rgb), .5);
            background-repeat: no-repeat, no-repeat;
            background-size: calc(var(--input-checkbox-height) - (var(--input-checkbox-space) * 2)) calc(var(--input-checkbox-height) - (var(--input-checkbox-space) * 2));
            background-position: var(--input-checkbox-space) var(--input-checkbox-space);
        }

    }

}
