
@mixin inputRange($block: '') {
    &__control-container {
        display: flex;
        align-items: center;
        gap: 1em;
    }

    &__control {

        -webkit-appearance: none;
        appearance: none;
        width: 100%;
        cursor: pointer;
        outline: none;
        overflow: hidden;
        border-radius: var(--input-range-track-height, var(--input-range-height));

        --input-range-height: 1.5em;
        --input-range-track-background-color: rgba(var(--primary-rgb, 0.5));
        --input-range-thumb-background-color: rgba(var(--primary-rgb, 0.5));
        --input-range-progress-background-color: var(--foreground);

        &::-webkit-slider-runnable-track {
            height: var(--input-range-track-height, var(--input-range-height));
            background: var(--input-range-track, var(--input-range-track-background-color));
            border-radius: var(--input-range-track-radius, var(--input-range-height));
        }

        &::-moz-range-track {
            height: var(--input-range-track-height, var(--input-range-height));
            background: var(--input-range-track, var(--input-range-track-background-color));
            border-radius: var(--input-range-track-radius, var(--input-range-height));
        }

        &::-webkit-slider-thumb {
            /* removing default appearance */
            -webkit-appearance: none;
            appearance: none;
            height: var(--input-range-track-height, var(--input-range-height));
            width: var(--input-range-track-height, var(--input-range-height));
            background-color: var(--input-range-thumb, var(--input-range-thumb-background-color));
            border-radius: 50%;
            border: 2px solid var(--input-range-progress, var(--input-range-progress-background-color));
            box-shadow: calc(-200px - (var(--input-range-track-height, var(--input-range-height)) / 2)) 0 0 200px var(--input-range-progress, var(--input-range-progress-background-color));
        }

        &::-moz-range-thumb {
            height: 15px;
            width: 15px;
            background-color: var(--input-range-thumb, var(--input-range-thumb-background-color));
            border-radius: 50%;
            border: 2px solid var(--input-range-progress, var(--input-range-progress-background-color));
            box-shadow: calc(-200px - (var(--input-range-track-height, var(--input-range-height)) / 2)) 0 0 200px var(--input-range-progress, var(--input-range-progress-background-color));
        }

    }
}