$colors: (
    dark: #0d0529,
    light: #fff,
    primary: #ff00e1,
    secondary: #2bd1e3,
);

@function values($color) {
    @return #{red(map-get($colors,$color))},
    #{green(map-get($colors,$color))},
    #{blue(map-get($colors,$color))}
}

@function darkOrLight($color){
    @return if(lightness($color) > 50, 'dark', 'light');
}

:root {

    --dark-rgb: #{values('dark')};
    --light-rgb: #{values('light')};
    --dark: rgba(var(--dark-rgb), 1);
    --light: rgba(var(--light-rgb), 1);

    --background: var(--dark);
    --background-rgb: var(--dark-rgb);
    --foreground: var(--light);
    --foreground-rgb: var(--light-rgb);

    --space: 1em;
    --border-radius: .25em;

    --primary-rgb: #{values('primary')};
    --primary: rgb(var(--primary-rgb));
    --secondary-text: var(--light);

    --secondary-rgb: #{values('secondary')};
    --secondary: rgb(var(--secondary-rgb));
    --secondary-text: var(--dark);

}

body,
html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: var(--foreground);
    background-color: var(--background);

}

/* ADD RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,li{
    margin: 0; padding: 0; 
    list-style-type: none;
}